
#sidebar {
    width: 180px;
    height: 100vh;
    background-color: #043959;
    padding: 15px 5px;
    position: fixed;
}

#sidebar .nav-link{
    margin-top:5px;
}
#sidebar a:hover {
    background-color: #101112;
}

#sidebar .nav-icon{
    padding-right: 0.5rem;
}

#sidebar .nav-icon i, #sidebar .nav-title{
    color: #fff;
    font-weight: 600;
}

#main-content {
    margin-left: 180px;
    padding: 1px;
    min-height: 100vh !important;
    background-color: var(--bs-card-color);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.actions-col {
    width: 100px;
}

.card .card-header{
    font-weight: 600;
    padding-left:10px;
    font-size:18px;
}

label{
    font-size: 1rem;
    font-weight: 600;
}

.table {
    border: 2px solid var(--bs-success) !important; /* Green border around table */
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Ensures the rounding applies */
    border-collapse: collapse; /* Allows radius to be visible */
    border-spacing: 0; /* Ensures no gaps */
}
.table td:first-child, .table th:first-child{
    padding-left:15px !important;
}
.table td:last-child, .table th:last-child {
    padding-right: 15px !important;
}
.table td, .table th{
    border-right:1px solid var(--bs-secondary);
}
.table-container {
    height: 400px !important;
    overflow-y: auto;
}


/* Dashboard styles */
#dashboard .card {
    background-color: lightblue;
}
#dashboard .card i {
    font-weight: 600;
    font-size: 2rem;
}
#dashboard .card-subtitle, #dashboard .card-title {
    font-weight: 600;
    font-size: 1.5rem;
}

@media (max-width:576px) {
    #sidebar{
        width: 60px;
        padding: 20px 0px;
    }

    #sidebar .nav-title{
        display: none;
    }

    #main-content {
        margin-left:60px;
        padding: 10px;
        height: 100vh;
        overflow-y: auto;
    }
}